@import url("main.css");
@import url("fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

html, body {
    direction: rtl;
    text-align: right;
    font-family: 'IRANYekan', 'IRANSans', 'sans-serif';
    font-size: 14px;
}

a {
    color: black;
    text-decoration: none;
}